@import '../../styles/colors.scss';
.DashboardLayout {
	display: flex;
	&__aside {
		// transform: translateX(0rem);
		width: 20rem;
		background-color: $primary-dark;
		transition: width 0.15s ease-in-out;
		&--close {
			width: 4rem;
			// transform: translateX(-8rem);
		}
	}
	&__logoTab {
		padding: 0 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $primary;
		height: 4.375rem;
	}
	&__logo {
		max-width: 5rem !important;
		transition: width 0.15s ease-in-out;
		&--close {
			width: 0;
		}
	}
	&__hamburger {
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: $white;
		margin: 0;
		padding: 0;
	}
	&__links {
		padding: 1rem;
		list-style-type: none;
		li {
			font-size: 1rem;
			margin-bottom: 2rem;
			cursor: pointer;
			color: $primary;
			a {
				display: flex;
				align-items: center;
				transition: ease-in-out .15s color;
				&:hover {
					color: $white;
					.DashboardLayout__icon {
						color: $white;
					}
				}
			}
			.DashboardLayout__link--active {
				color: $secondary;
				.DashboardLayout__icon {
					color: $secondary;
				}
			}
		}
		&--close {
			li {
				justify-content: center;
				
			}
		}
	}
	
	&__icon {
		margin-right: 1rem;
		transition: margin 0.15s ease-in-out;
		color: $primary;
		transition: ease-in-out .15s color;
		&--close {
			margin-right: 0;
		}
	}
	&__container {
		width: 100%;
	}
	&__header {
		padding: 1rem 2rem;
		height: 4.375rem;
		background-color: $white;
		display: flex;
		align-items: center;
		h3 {
			color: $primary-dark;
		}
	}
	&__main {
		padding: 1rem 2rem;
	}
	&__footer {
		margin-top: auto;
		height: 3rem;
		p {
			padding: 1rem;
			border-top: solid 1px $primary;
			font-size: 0.75rem;
			color: $primary-white;
			text-align: center;
			margin: 0;
		}
	}
}