$primary-color: #0020ea
$bg-color: #e2f2ff

.card
  border-radius: 0.25rem
  width: 65vw
  color: $primary-color
  background-color: $bg-color
  clip-path: circle(100% at 50% 50%)
  padding: 1rem 0
  margin: 2rem
  text-align: center
  cursor: pointer
  font-size: 1rem
  transition: clip-path 1s ease-out, width 0.25s, background-color 0.5s

  &.loading
    clip-path: circle(0 at 50% 50%)

  &:hover
    width: 75vw
    background-color: #fff
