$primary:  #0020ea;
$primary-dark: #000B3F;
$primary-dark-fade: #001163;
$primary-light: #00B1FF;
$primary-white: #E6F4FF;
$secondary: #FFC022;
$secondary-dark: #b78a18;
$secondary-light: #ffdf8e;
$secondary-white: #fffbf1;
$tertiary: #FF542C;
$tertiary-dark: #ac371d;
$tertiary-light: #ffa08b;
$tertiary-white: #ffede9;
$dark-gray: #444;
$purple: #d29ee9;
$pink: #fd68bf;
$green: #81dd2a;
$blue: #62bade;
$yellow: #ded303;
$orange: #ffa303;
$white: #FFFFFF;
