$primary-color: #0020ea
$bg-color: #e2f2ff

.creds
    position: absolute
    right: 1rem
    border: solid 2px blue
    height: 2rem

    &.invalidInput
        border-color: red

.label
    width: 100%
    font-size: 1.5rem
    color: $primary-color
