$primary-color: #0020ea
$bg-color: #e2f2ff

.container
    padding: 0 2rem
    background-color: $primary-color

.main
    min-height: 100vh
    padding: 4rem 0
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    p
        color: white
        text-decoration: underline

.form
    position: relative
    background-color: $bg-color
    padding: 1rem
    margin: 1rem
    border-radius: 1rem
    min-width: 20rem
    clip-path: circle(100% at 50% 50%)
    transition: clip-path 0.5s

    &.submitting
        clip-path: circle(0% at 50% 25%)

    div
        font-size: 2rem
        text-align: center

.loginText
    color: $bg-color
    text-align: center
    font-size: 2rem

// .lightController
//     content: ''
//     position: absolute
//     top: 0
//     left: 0
//     z-index: 0
//     background-color: $bg-color
//     height: 100%
//     width: 100%
    // transition: clip-path 0.5s
    // clip-path: circle(75% at 50% 50%)

    // &.loadedLight
    //     clip-path: circle(30% at 50% 50%)

    // &.submitLight
    //     clip-path: circle(0% at 50% 60%)

.loginButton
    background-color: $primary-color
    border: solid 2px white
    color: $bg-color
    margin: 1rem auto
    transition: background-color 0.5s, color 0.5s

    &:hover:not(:disabled)
        background-color: $bg-color
        color: $primary-color

    svg
        animation: glow 0.5s alternate infinite

.footer
    display: flex
    flex: 1
    padding: 2rem 0
    border-top: 1px solid $primary-color
    justify-content: center
    align-items: center

    a
        display: flex
        justify-content: center
        align-items: center
        flex-grow: 1

@keyframes glow
    from
        opacity: 100%
    to
        opacity: 25%
